body{
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}
p,h1{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    height: 80%;
    align-items: center;
    width: 40%;
    flex-direction: column;
    background-color: rgb(25, 25, 25);
    padding: 30px;
    border-radius: 10px;
    color: white;
}
.header{
    margin-right: auto;
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: rgb(19, 106, 228);
    font-weight: bold;
    font-size: 20px;
}
.chat-box{
    flex: 1;
    background-color: grey;
    width: 95%;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.asking-chat{
    background-color: white;
    margin-left: auto;
    color: black;
    text-align: right;
    padding: 15px;
    border-radius: 10px 0px 10px 10px;
}
.robo-chat{
    background-color: rgb(19, 106, 228);;
    margin-right: auto;
    color: white;
    text-align: left;
    padding: 15px;
    border-radius: 0px 10px 10px 10px;
    max-width: 50%;
}
.image{
    margin-left: 30px;
    margin-right: 20px;
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}
.ask-joke{
    width: 90%;
    height: 40px;
    margin-top: 15px;
    background-color: rgb(7, 91, 209);
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
}